body {
  margin: 0;
  background-color: rgba(18, 24, 60, 1);
  overflow-x: hidden;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 3.75rem;
  color: #fff;
  text-transform: uppercase;
  align-self: center;
  text-align: center;
}


h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.875rem;
    color: #fff;
    text-transform: uppercase;
    align-self: center;
    padding-top: 5.375rem;
    text-align: center;
}

 /* GitHub Button */
.nav-btn {
  background-color: #fff;
  border-radius: 50px;
  border: none;
  padding: 14px 58px 14px 58px;
  text-decoration: none;
  position: absolute;
  top: 3%;
  right: 3%;
}

.nav-btn a {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  color: #12183C;
  text-decoration: none;
}

/* Flex direction for sections */
.hero, .main, .cta {
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
}

/* Hero Image */
.hero {
  height: 50vh;
  background-image: url("../images/hero_shadow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Main Section */
.main {
  height: 40vh;
  margin: 0 20px;
  padding-top: 2rem;  
}

/* Purple Text Span */
.purple_text {
  color: #92A3FF;
}

/* Gif Holder */
.gif_holder {
  display: flex;
  justify-content: center;
}

.gif_holder-img {
  max-width: 100%;
  height: auto;
  border: solid 6px #fff;
  border-radius: 30px;
}

/* CTA */
.email_capture {
  display: flex;
  align-self: center;
}

.capture {
  background-color: #fff;
  width: 31.25rem;
  padding: 14px 20px;
  border-radius: 50px;
  border: none;
  color: rgba(18, 24, 60, 0.5);
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
}

.submit {
  background-color: #92A3FF;
  border-radius: 50px;
  border: none;
  padding: 14px 54px;
  color: #1B1D36;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
}

/* Footer */
.footer-imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3.5rem;
  padding-bottom: 3.125rem;
}

.github-img {
  height: 50px;
  width: 50px;
  align-self: center;
  margin-right: 1rem;
}

.twitter-img {
  height: 31px;
  width: 38px;
  align-self: center;
  margin-left: 1rem;
  margin-top: .5rem;
}

/*--Tablet Styling--*/
@media (max-width: 1024px) {
  h1 {
    font-size: 2.625rem;
    align-self: center;
  }
  h2 {
    font-size: 1.875rem;
  }
}

/*--Mobile Styling--*/
@media (max-width: 768px) {

  h2 {
    font-size: 1.375rem;
    text-align: center;
    padding-top: 3.875rem;
    padding-bottom: 2.563rem;
  }

  .hero, .main, .cta {
    margin: 0 .5rem;
  }

  /*--Hero Image--*/
  .hero {
    display: flex;
    height: 25vh;
    background-size: 800px;
    background-position: top center;
    text-align: center;
    margin: auto;
  }
  
  /*--Github Button--*/
  nav {
    display: flex;
    justify-content: center;
  }
  .nav-btn {
    top: 22%;
    display: flex;
    align-self: center;
    right: auto;
    left: auto;
 }

 /*--Gif Image--*/
 .gif_holder-img {
   max-width: 90%;
 }

 /*--CTA--*/
 .email_capture {
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 form {
   display: flex;
   flex-direction: column;
 }
 .capture {
   margin-bottom: 22px;
    width: 20rem;
    margin-right: 0;
    align-self: center;
 }

 .submit {
   align-items: center;
   width: 22.5rem;
   margin-left: 0px;
 }
}
